@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h3 class="display-4">Welcome to Jenkins CICD pipeline with .Net</h3>
    <p>Hello Friends, This is Mahbub</p>
</div>
